<h1>Create a Shop</h1>

<%= form_for @shop do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :image %>
<%= f.file_field :image%>
<%= f.submit %>
<% end %>

