<h1>Shop Admin Page</h1>
<% if @shop.status == false %>
    <h1 style="color:red">This shop is no longer active!</h1>
<% end %>
<h1 style="color:red"><%= flash["relist_error"] %></h1><br>


<div class="container">
    <div class="notification">
        <div class="columns">
            <div class="column"><figure class="image" style="width:200px;"><%= avatar(@shop.id, Shop) %></figure></div>
            <div class="column is-two-fifths">

                <h1><strong><%= @shop.name %></strong></h1>
                <h4> By: <%= @shop.user.username %></h4><br>
                <p><%= @shop.description %></p>
            </div>
            <div class="column is-two-fifths" style="display:flex; flex-direction:column; justify-content:flex-end; align-items: center;">
                <div>Number of Items Sold: <strong><%= @shop.items_sold%></strong></div>
                <div>Money Made: <strong><%= number_to_currency(@shop.revenue)%></strong></div>
                <div><%= link_to "Add item(s) to this shop", new_item_path %></div>
                <div><%= link_to "Edit Shop Details",  edit_shop_path(@shop)%></div>
                <div><%= link_to "View Shop Order History", shop_orders_path(@shop) %></div>
                <div><%= link_to "Public Shop Profile", shop_path(@shop) %></div>
            <div>
                <% if @shop.status%>
                    <%= link_to "Deactivate this shop", shop_status_path(@shop), :method => :patch%>
                <%else %>
                    <%= link_to "Re-activate this shop", shop_status_path(@shop), :method => :patch%>
                <% end %>
            </div>
         </div>
        </div>
    </div>
</div><br>

<% if !@shop.listed_items.empty? %>
<h3>Items For Sale</h3>
<div class="columns is-multiline is-mobile">
    <% @shop.listed_items.each do |item| %>
        <div class="column is-one-quarter">
            <a href="/items/<%=item.id%>">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <%= avatar(item.id, Item) %>
                        </figure>
                    </div>

                    <div class="card-content">
                    <div class="media">
                            <div class="media-content">
                                <p class="title is-4"><%= link_to item.name, item_path(item) %></p>
                            </div>
                        </div>

                        <div class="content">
                            <p><%= item.description %></p>
                        </div>
                        <div class="content">
                            <p><strong><%= number_to_currency(item.price) %></strong></p>
                        </div>
                        <div class="content">
                            <p>In Stock: <%= item.quantity %></p>
                        </div>
                        <div class="content">
                            <%= link_to "Unlist this item", status_path(item), :method => :patch%>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
</div>
<% end %>

<% if !@shop.unlisted_items.empty? %>
<h3>Unlisted Items</h3>
<div class="columns is-multiline is-mobile">
    <% @shop.unlisted_items.each do |item| %>
        <div class="column is-one-quarter">
            <a href="/items/<%=item.id%>">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <%= avatar(item.id, Item) %>
                        </figure>
                    </div>

                    <div class="card-content">
                    <div class="media">
                            <div class="media-content">
                                <p class="title is-4"><%= link_to item.name, item_path(item) %></p>
                            </div>
                        </div>

                        <div class="content">
                            <p><%= item.description %></p>
                        </div>
                        <div class="content">
                            <p><strong><%= number_to_currency(item.price) %></strong></p>
                        </div>
                        <div class="content">
                            <p>In Stock: <%= item.quantity %></p>
                        </div>
                        <div class="content">
                            <%= link_to "Re-list this item", status_path(item), :method => :patch%>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
</div>
<% end %>
