<h1>Shop Admin Page</h1>

<p><%= @shop.user.first_name%> <%= @shop.user.last_name %></p>

<!--<% if @shop.image.attached? %>
    <div><%= image_tag(@shop.image, style: "width:100px") %></div>
<% else %>
    <div><%= image_tag("/public/no_image_placeholder_1.jpg", style: "width:100px") %></div>
<% end %>-->

<div><%= avatar(@shop.id, Shop) %></div>

<p><%= @shop.name %></p>
<p><%= @shop.description %></p>


<h3>For sale:</h3>
<% @shop.items.each do |item| %>
<ul>
    <li><%= link_to item.name, item_path(item) %></li>
</ul>
<% end %>

<%= link_to "Add item(s) to this shop", new_item_path %>
<%= link_to "Edit this shop",  edit_shop_path(@shop)%>
<%= link_to "Delete this shop", shop_path(@shop), :method => :delete%>
 

<!-- ADD LINKS FOR ADDING ITEMS TO SHOP, ETC. -->