<div class="add_to_cart"><%= flash[:add_to_cart]%> </div>

<div><%= avatar(@shop.id, Shop) %></div>

<% if @shop.status == false %>
    <h1>This shop is no longer active!</h1>
<% end %>

<h1><%= @shop.name %></h1>
<h4> By: <%= @shop.user.first_name%> <%= @shop.user.last_name %></h4>
<p><%= @shop.description %></p>

<h3>For sale:</h3>
<% @shop.listed_items.each do |item| %>
<ul>
    <li><%=link_to item.name, item_path(item) %></li>
</ul>
<% end %>
<% if @shop.user == current_user %>
<%= link_to "Manage My Shop", my_shop_shop_path(@shop)%>
<% end %>

<%= link_to "View all shops", shops_path %>