<div class="add_to_cart"><%= flash[:add_to_cart]%> </div>
<!--<% if @shop.image.attached? %>
    <div><%= image_tag(@shop.image, style: "width:100px") %></div>
<% else %>
    <div><%= image_tag("/public/no_image_placeholder_1.jpg", style: "width:100px") %></div>
<% end %>-->

<div><%= avatar(@shop.id, Shop) %></div>

<h1><%= @shop.name %></h1>
<h4> By: <%= @shop.user.first_name%> <%= @shop.user.last_name %></h4>
<p><%= @shop.description %></p>

<h3>For sale:</h3>
<% @shop.items.each do |item| %>
<ul>
    <li><%=link_to item.name, item_path(item) %></li>
</ul>
<% end %>
<% if @shop.user == current_user %>
<%= link_to "Manage My Shop", my_shop_shop_path(@shop)%>
<% end %>

<%= link_to "View all shops", shops_path %>