

<h1>My Dashboard</h1>
<div class="container">
<div class="notification">

<div class="columns">
    <div class="column" style=" display: flex; justify-content: center;" >
    <figure class="image is-128x128" > <%=avatar(@user.id, User, "is-rounded")%></figure> 
    </div>
     <div class="column is-four-fifths">
    <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
    <p>Username: <%= @user.username %></p>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
    <br>
    <% if @user.shop %>
        <%= link_to "View My Shop", my_shop_shop_path(@user.shop) %>
    <% else %>
        <%= link_to "Create a Shop", new_shop_path %>
    <% end %>
        </div>
  
    </div>
  </div>
</div>

<hr>
<br>

<h2>Your Order History (<%= @user.total_orders %>)</h2>
<% @user.orders.each do |order| %>
<div class="container">
  <div class="notification">

    <div>Date Ordered: <strong><%= order.created_at %></strong></div>
    <div>Order Number: <strong><%= order.id %></strong></div>
    <div>Items in Order: </div>
    <br>
    <% order.items.each do |item| %>
        <div class="columns">
            <div class="column"><%= avatar(item.id, Item, "image is-128x128") %> </div>
            <div class="column is-two-thirds">
                <div>Item Name: <%= link_to item.name, item_path(item) %></div>
                <div>From Shop: <%= link_to item.shop.name, shop_path(item.shop) %></div>
                <%if @user.reviewed_item_ids.include?(item.id)%>
                    <% review = Review.find_by(user: @user, item: item) %>
                    <%= link_to "Edit your review for this item", edit_review_path(review) %>
                <%else %>
                    <%= link_to "Write A Review For This Item", {controller: "reviews", action: "new", item: item.id} %><br>
                <%end%>
            </div>
            <div class="column" style="display:flex; justify-content:flex-end; align-items:center"><%= number_to_currency(item.price)%> </div>
        </div>
    <% end %>
     <div style="display:flex; justify-content:flex-end">
     <p>Order Total: <strong> <%= number_to_currency(order.total)%></strong></p>
     </div>
</div>
<hr>
<% end %>

<%= link_to "Delete Account", user_path(@user), :method => :delete%>