<h1>Item Details</h1>

<h2>Item Name: <%= @item.name %></h2>
<h2>Description: <%= @item.description %></h2>

<div><%= avatar(@item.id, Item) %></div>
<h2>Average Rating: <%= @item.average_rating %></h2>
<h2>Item Price: <%= number_to_currency(@item.price) %></h2>
<% if @item.quantity && @item.quantity > 0 %>
<h2>In Stock: <%= @item.quantity %></h2>
<% else %>
<h2> This Item is Sold Out! </h2>
<%end%>

<% if @item.shop.user == current_user %>
<%= link_to "Edit this item", edit_item_path(@item) %>
    <% if @item.listed%>
    <%= link_to "Unlist this item", status_path(@item), :method => :patch%>
    <%else %>
    <%= link_to "Re-list this item", status_path(@item), :method => :patch%>
<% end %>
<% end%>
<br>
<br>

<% if logged_in? %>
    <% if @item.listed && @item.quantity && @item.quantity> 0 %>
    <%= link_to "Add to Cart!", add_to_cart_path(@item), :method => :post%>
    <% end %>
<% else %>
    <% if @item.quantity && @item.quantity> 0 %>
    <%= link_to "Please log in to add this item to your cart!", login_path %>
<%end %>
<% end %>
<br>

<%= link_to "Back to Shop", shop_path(@item.shop) %>

<!-- block for current user's review -->
<% review = Review.find_by(user: current_user, item: @item) %>
<% if review %>
    <h4> Your Review for this item </h4>
    <div>Title: <%= review.title %></div>
    <div>Rating: <%= review.rating %></div>
    <div>Review: <%= review.content %></div>
    <%= link_to 'Edit your review', edit_review_path(review) %>
    <%= link_to 'Delete your review', review_path(review), :method => :delete %>
      <hr>
<%end %>

<!-- All the reviews -->

<% if @item.reviews.length > 0 %>
 <h2>All Other Reviews</h2>
    <% @item.reviews.each do |r| %>
        <% if r != review %>
            <div>From User: <%= r.user.username %></div>
            <div>Title: <%= r.title %></div>
            <div>Rating: <%= r.rating %></div>
            <div>Review: <%= r.content %></div><hr>
        <% end %>
    <% end %>
<% else %>
    <h3>This item has no reviews.</h3>
<% end %>