<h1>Site Analytics</h1>


<h4>Total Number of Shops: <%= @total_shops %></h4>
<h4>Active Shops: <%= @active_shops %></h4>
<h4>Inactive Shops: <%= @inactive_shops %></h4>

<h4>Items Sold: <%= @items_sold %></h4>
<h4>Gross Revenue: <%= number_to_currency(@gross_revenue) %></h4>

<h4>Number of Items Listed: <%= @items_listed %></h4>
<h4>Number of Items Unlisted: <%= @items_unlisted %></h4>